<div class="panel">
	<div class="panel-body">
		<h3>Listado de Usuarios<h3>
			<div class="row">
				<a class="btn btn-raised btn-primary pull-right btn-add" title="Nuevo Usuario" ui-sref="app.usuario-add"><i class="fa fa-plus"></i> Nuevo Usuario</a>
			</div>
		
		<table datatable="" ng-if="vm.displayTable" dt-options="vm.dtOptions" dt-columns="vm.dtColumns" dt-instance="vm.dtInstance" class="table table-border">

	</div>	
</div>
