table, .dataTables_info, .dataTables_paginate {
	font-size: 14px;
}
.dataTables_paginate {
	text-align: right;
}
.dataTables_filter {
	text-align: right;
}
.dataTables_length {
	position: absolute;
}
#opciones_usuario {
	text-align: right;
	position: absolute;
}
#btn-edit, #btn-delete {
	margin: 0;
}
.btn-add {
	margin: 10px;
}


