<div class="panel">
	<div class="panel-body">
		<h3>Agenda</h3>
		<div class="btn-toolbar">
    	<div class="clear-fix"></div>
    	<br>
		</div>
		<div class="row">
			<div class="col-md-3">
				<div class="box box-solid">
		            <h3 class="box-title">Crear Cita</h3>
	            	<div class="panel panel-default">
	            		<div class="panel-body">
	            			<div class="clear-fix"></div>
	            			<br>
	            			<div class="col-lg-12">
	            				<angucomplete 
									id="search_acomp"
									inputclass="form-control"
									placeholder="Buscar Paciente"
									pause="100"
									minlength="2"
									selectedobject="form.selectedCliente"
									localdata="vm.clientes"
									searchfields="documento,nombre1,nombre2,apellido1,apellido2"
									titlefield="nombre1,apellido1"
								/>
								<label>Paciente</label>
	            			</div>
	            			<div class="col-lg-12">
	            				<textarea ng-model="form.detalle" class="form-control"></textarea>
	            				<label>Detalle de Cita</label>
	            			</div>
		            		<div class="col-lg-12">
				            	<select id="form1" class="form-control" 
			              		ng-model="form.id_especialista" 
								ng-options="lista.id as lista.descripcion for lista in vm.especialistas"
								>
									<option value="" selected disabled>Seleccionar</option>
			              		</select>
			              		<label for="form1">Especialista</label>
							</div>
							<div class="col-lg-12">
								<input type="datetime-local" ng-init="form.inicio_cita=vm.now" ng-model="form.inicio_cita" min="{{vm.today | date:'yyyy-MM-ddThh:mm'}}" class="form-control">
								<label>Fecha y Hora de Cita</label>
							</div>
							<div class="col-lg-12">
								<input type="number" min="0" max="720" ng-init="form.duracion=vm.duracion" ng-model="form.duracion" class="form-control text-right">
								<label>Duración (minutos)</label>
							</div>
							
							<div class="col-lg-12 text-right">
								<button type="button" ng-click="vm.addEvent(form)" class="btn btn-success btn-raised ">Agregar</button>
							</div>
		            	</div>
		            </div>
		         </div>
			</div>
			<div class="col-md-9">
				<div ui-calendar="vm.uiConfig.calendar" class="span8 calendar" ng-model="vm.eventSources"></div> 
			</div>
		</div>
		
	</div>	
</div>
