<div class="login-box">
  <div class="login-logo">
    <a ui-sref="login" href="javascript:;">Agendamiento</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Iniciar Sesión</p>

    <form ng-submit="vm.ingreso(user)" novalidate>
      <div class="form-group has-feedback">
        <input type="email" class="form-control" placeholder="Correo Electrónico" ng-model="user.email">
        <span class="fa fa-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" placeholder="Contraseña" ng-model="user.password">
        <span class="fa fa-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-7">
          <div class="">
            <label>
              <input type="checkbox" ng-model="user.remember"> Recordame
            </label>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-5">
          <button type="submit" class="btn btn-primary btn-raised btn-block btn-flat">Ingresar</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

    <a ui-sref="reset" href="javascript:;">Olvidé contraseña</a><br>

  </div>
  <!-- /.login-box-body -->
</div>
