<section>
    <div id="wrapper">

            <!-- Navigation -->
            <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" ui-sref="app.dashboard" >Agendamiento</a>
                </div>
                <!-- /.navbar-header -->

                <ul class="nav nav-tabs">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
                            <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                            </li>
                            <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                            </li>
                        </ul>
                        <!-- /.dropdown-user -->
                    </li>
                    <!-- /.dropdown -->
                </ul>
                <!-- /.navbar-top-links -->

                <div class="navbar-default sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse">
                        <ul class="nav" id="side-menu">
                            <li class="text-center">
                                <img src="/img/logo.png">
                                <div class="">
                                    <strong>Usuario</strong>
                                </div>                                
                            </li>
                            <li>
                                <a ui-sref="app.dashboard" href="javascript:;"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                            </li>
                            <li>
                                <a ui-sref="app.cliente" href="javascript:;"><i class="fa fa-users fa-fw"></i> Clientes</a>
                            </li>
                            <li>
                                <a ui-sref="app.especialista" href="javascript:;"><i class="fa fa-user-secret fa-fw"></i> Especialistas</a>
                            </li>
                            <li>
                                <a ui-sref="app.mensaje" href="javascript:;"><i class="fa fa-send fa-fw"></i> Mensajes</a>
                            </li>
                            <li>
                                <a ui-sref="app.agenda" href="javascript:;"><i class="fa fa-calendar fa-fw"></i> Agenda</a>
                            </li>
                            <li>
                                <a ui-sref="app.usuario" href="javascript:;"><i class="fa fa-users fa-fw"></i> Usuarios</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.sidebar-collapse -->
                </div>
                <!-- /.navbar-static-side -->
            </nav>

            <div ui-view=""  id="page-wrapper">
                <div class="row">
                    <div class="col-lg-12 panel">

                    </div>
                </div>
            </div>
    </div>
</section>