<div class="panel">
	<div class="panel-body">
		<h4>Editar Cliente # {{vm.user.id}}</h4>
		<form name="form" role="form" ng-submit="vm.submit(vm.user)" novalidate enctype="multipart/form-data">
			<div class="col-lg-12">
				<div class="col-lg-3">
					<select class="form-control"
					ng-model="vm.user.id_documento" required name="tipodocumento"
					ng-options="lista.id as lista.descripcion for lista in vm.documentos_tipo"
					>
						<option value="" selected >Seleccionar</option>
					</select>
	              	<label for="form1"><i class="required">*</i> Tipo Documento</label>
				</div>
				<div class="col-lg-3">
					<div class="md-form">
	              		<input type="text" id="form1" class="form-control" ng-model="vm.user.documento" required>
	              		<label for="form1"><i class="required">*</i> Documento</label>
	            	</div>
				</div>

				<div class="col-lg-3">
					<div class="md-form">
	              		<input type="text" id="form1" class="form-control" required ng-model="vm.user.nombre1">
	              		<label for="form1"><i class="required">*</i> Primer Nombre</label>
	            	</div>
				</div>
				<div class="col-lg-3">
					<div class="md-form">
	              		<input type="text" id="form1" class="form-control" ng-model="vm.user.nombre2">
	              		<label for="form1">Segundo Nombre</label>
	            	</div>
				</div>
			</div>
			<div class="col-lg-12">
				<div class="col-lg-3">
					<div class="md-form">
	              		<input type="text" id="form1" class="form-control" ng-model="vm.user.apellido1" required>
	              		<label for="form1"><i class="required">*</i> Primer Apellido</label>
	            	</div>
				</div>
				<div class="col-lg-3">
					<div class="md-form">
	              		<input type="text" id="form1" class="form-control" ng-model="vm.user.apellido2">
	              		<label for="form1">Segundo Apellido</label>
	            	</div>
				</div>
				<div class="col-lg-2">
	            	<select class="form-control" ng-model="vm.user.sexo">
					  <option value="F">Femenino</option>
					  <option value="M">Masculino</option>
					  <option value="O">Otro</option>
					</select>
   					 <label for="form1">Sexo</label>
				</div>
				<div class="col-lg-2">
              		<select id="form1" class="form-control" 
              		ng-model="vm.user.id_estadocivil" required
					ng-options="lista.id as lista.estado for lista in vm.estados_civil"
					>
						<option value="" selected>Seleccionar</option>
              		</select>
              		<label for="form1">Estado Civil</label>
				</div>
				<div class="col-lg-2">
					<div class="md-form date">
	              		<input type="date" id="form1" class="form-control pull-right" ng-model="vm.user.fecha_nacimiento">
	              		<label for="form1">Fecha de Nacimiento</label>
	            	</div>
				</div>
			</div>
			<div class="col-lg-12">
				<div class="col-lg-3">
					<div class="md-form">
	              		<input type="text" id="form1" class="form-control" ng-model="vm.user.telefono_1" mask="9" repeat="20">
	              		<label for="form1">Telefóno 1</label>
	            	</div>
				</div>
				<div class="col-lg-3">
					<div class="md-form">
	              		<input type="text" id="form1" class="form-control" ng-model="vm.user.telefono_2" mask="9" repeat="20">
	              		<label for="form1">Telefóno 2</label>
	            	</div>
				</div>
				<div class="col-lg-3">
					<div class="md-form">
	              		<input type="text" id="form1" class="form-control" ng-model="vm.user.celular_1" mask="9" repeat="20">
	              		<label for="form1">Celular 1</label>
	            	</div>
				</div>
				<div class="col-lg-3">
					<div class="md-form">
	              		<input type="text" id="form1" class="form-control" ng-model="vm.user.celular_2" mask="9" repeat="20">
	              		<label for="form1">Celular 2</label>
	            	</div>
				</div>
			</div>
			<div class="col-lg-12">
				<div class="col-lg-3">
					<div class="md-form">
	              		<input type="text" id="form1" required class="form-control" ng-model="vm.user.correo">
	              		<label for="form1"<i class="required"></i> Correo Electrónico</label>
	            	</div>
				</div>
				<div class="col-lg-3">
              		<select id="form1" required class="form-control" 
              		ng-model="vm.user.id_pais" ng-change="vm.changeCountry(vm.user.id_pais)"
					ng-options="lista.id as lista.nombre for lista in vm.paises"
					>
              		</select>
              		<label for="form1">Pais</label>
				</div>
				<div class="col-lg-3">
              		<select id="form1" required class="form-control" 
              		ng-model="vm.user.id_departamento" ng-change="vm.changeDepartament(vm.user.id_departamento)" 
					ng-options="lista.id as lista.nombre for lista in vm.departamentos"
					>
              		</select>
              		<label for="form1">Departamento</label>
				</div>
				<div class="col-lg-3">
              		<select id="form1" required class="form-control" 
              		ng-model="vm.user.id_municipio" 
					ng-options="lista.id as lista.nombre for lista in vm.municipios"
					>
              		</select>
              		<label for="form1">Municipio</label>
				</div>
			</div>
			<div class="col-lg-12">
				<div class="col-lg-12">
					<div class="md-form">
		          		<input type="text" id="form1" class="form-control" ng-model="vm.user.direccion">
		          		<label for="form1">Dirección</label>
		        	</div>
	        	</div>
			</div>
			<div class="col-lg-12">
				<div class="col-lg-3">
	            	<select id="form1" class="form-control" 
              		ng-model="vm.user.id_tipoafiliacion" 
					ng-options="lista.id as lista.descripcion for lista in vm.afiliaciones"
					>
						<option value="" selected>Seleccionar</option>
              		</select>
              		<label for="form1">Tipo Afiliciación</label>
				</div>
				<div class="col-lg-3">
	            	<select id="form1" class="form-control" 
              		ng-model="vm.user.id_convenio" 
					ng-options="lista.id as lista.descripcion for lista in vm.convenios"
					>
						<option value="" selected >Seleccionar</option>
              		</select>
              		<label for="form1">Convenio</label>
				</div>
				<div class="col-lg-3">
					<select id="form1" class="form-control" 
              		ng-model="vm.user.id_regimen" 
					ng-options="lista.id as lista.descripcion for lista in vm.regimenes"
					>
						<option value="" selected >Seleccionar</option>
              		</select>
              		<label for="form1">Regimen</label>
				</div>
				<div class="col-lg-3">
					<div class="md-form">
	              		<input type="text" id="form1" class="form-control" ng-model="vm.user.contrato">
	              		<label for="form1">Contrato</label>
	            	</div>
				</div>
			</div>
			<div class="col-lg-12">
				<div class="col-lg-3">
					<div class="md-form">
	              		<input type="text" id="form1" class="form-control" ng-model="vm.user.estrato">
	              		<label for="form1">Estrato</label>
	            	</div>
				</div>
				<div class="col-lg-3">
					<div class="md-form">
	              		<input type="text" id="form1" class="form-control" ng-model="vm.user.historia">
	              		<label for="form1">Historia</label>
	            	</div>
				</div>
				<div class="col-lg-2">
					<div class="md-form">
	              		<input type="text" id="form1" class="form-control" ng-model="vm.user.folio">
	              		<label for="form1">Folio</label>
	            	</div>
				</div>
				<div class="col-lg-2">
					<div class="md-form">
	              		<input type="text" id="form1" class="form-control" ng-model="vm.user.carnet">
	              		<label for="form1">Carnet</label>
	            	</div>
				</div>
				<div class="col-lg-2">
					<div class="md-form">
	              		<input type="text" id="form1" class="form-control" ng-model="vm.user.ficha_sisben">
	              		<label for="form1">Ficha</label>
	            	</div>
				</div>
			</div>
			
			<div class="col-lg-12">
				<div class="col-lg-12 md-form">
					<div class="file-field input-field">
				        <div class="justify-content-center">
				            <div class="btn btn-mdb-color btn-rounded float-left">
				                <input type="file"  accept="image/*">
				               	<label for="form1">Agregar Foto</label>
				            </div>
				        </div>
    				</div>
				</div>
			</div>
			<div class="col-lg-12 text-center avatar-wrap">
              <div class="">
                  <img :src="imageData" alt="" >
              </div>
            </div>
			<div class="col-lg-12">
				<div class="col-lg-12 text-right">
					<a ui-sref="app.cliente" class="btn btn-primary btn-raised">Volver</a>
					<button type="submit" class="btn btn-success btn-raised">Guardar</button>
				</div>
			</div>
		</form>
	</div>
</div>