<div class="panel">
	<div class="panel-body">
		<h3>Listado de Clientes</h3>
			<div class="row">
				<a class="btn btn-raised btn-primary pull-right btn-add" title="Nuevo Cliente" ui-sref="app.cliente-add"><i class="fa fa-plus"></i> Nuevo Cliente</a>
			</div>
		
		<table datatable="" ng-if="vm.displayTable" dt-options="vm.dtOptions" dt-columns="vm.dtColumns" dt-instance="vm.dtInstance" class="table table-border">

	</div>	
</div>
<!--Modal Acompañante-->
<div class="modal fade" tabindex="-1" role="dialog" id="cliente-acom">
<div class="modal-dialog modal-md" role="document">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">X</span>
			</button>
			<h3 class="modal-title text-center">Acompañante de {{vm.cliente.nombre1}} {{vm.cliente.apellido1}}</h3>
		</div>
		<div class="modal-body">
			<div class="col-lg-12">
				<div class="col-lg-12">
					<button type="button" class="btn btn-warning btn-raised" title="Buscar Acompañante" ng-click="vm.search()"><i class="fa fa-search"></i></button>
					<button type="button" class="btn btn-success btn-raised" title="Agregar Acompañante" ng-click="vm.add()"><i class="fa fa-plus"></i></button>
					
					<div class="md-form" ng-if="vm.actbusqueda">
	              		<angucomplete 
							id="search_acomp"
							inputclass="form-control"
							placeholder="Buscar Acompañante"
							pause="400"
							minlength="2"
							selectedobject="vm.selectedAcomp"
							localdata="vm.acomp"
							searchfields="documento,nombre1,nombre2,apellido1,apellido2"
							titlefield="nombre1,apellido1"
						/>
	            	</div>
	            </div>
			</div>
			<div ng-if="vm.datos">
				<div class="col-lg-12">
					<div class="col-lg-6">		
						<select class="form-control"
						ng-model="form.id_documento" required name="tipodocumento"
						ng-options="lista.id as lista.descripcion for lista in vm.documentos_tipo"
						>
							<option value="" selected disabled>Seleccionar</option>
						</select>
		              	<label for="form1"><i class="required">*</i> Tipo Documento</label>
		            </div>
		            <div class="col-lg-6">		
						<div class="md-form">
		              		<input type="text" id="form1" class="form-control" ng-model="form.documento" required>
		              		<label for="form1"><i class="required">*</i> Documento</label>
		            	</div>
		            </div>
				</div>
				<div class="col-lg-12">
					<div class="col-lg-6">		
						<input type="text" id="form1" class="form-control" required ng-model="form.nombre1">
	              		<label for="form1"><i class="required">*</i> Primer Nombre</label>
		            </div>
		            <div class="col-lg-6">		
						<input type="text" id="form1" class="form-control" ng-model="form.apellido1" required>
	              		<label for="form1"><i class="required">*</i> Primer Apellido</label>
		            </div>
				</div>
				<div class="col-lg-12">
					<div class="col-lg-6">		
						<select class="form-control" required ng-model="form.sexo">
						  <option value="" selected disabled>Seleccionar</option>
						  <option value="F">Femenino</option>
						  <option value="M">Masculino</option>
						  <option value="O">Otro</option>
						</select>
	   					<label for="form1">Sexo</label>
		            </div>
		            <div class="col-lg-6">
		            	<select id="form1" class="form-control" 
		              		ng-model="form.id_estadocivil" required
							ng-options="lista.id as lista.estado for lista in vm.estados_civil"
							>
								<option value="" selected disabled>Seleccionar</option>
		              	</select>
		              	<label for="form1">Estado Civil</label>
		            </div>
				</div>
				<div class="col-lg-12">
					<div class="col-lg-6">		
              			<input type="date" id="form1" class="form-control" ng-model="form.fecha_nacimiento">
              			<label for="form1">Fecha de Nacimiento</label>
		            </div>
		            <div class="col-lg-6">		
						<div class="md-form">
	              			<input type="text" id="form1" required class="form-control" ng-model="form.correo">
	              			<label for="form1"<i class="required"></i> Correo Electrónico</label>
	          		  	</div>
		            </div>
				</div>
				
				<div class="col-lg-12">
					<div class="col-lg-6">		
						<select id="form1" required class="form-control" 
	              		ng-model="form.id_pais" ng-change="vm.changeCountry(form.id_pais)"
						ng-options="lista.id as lista.nombre for lista in vm.paises"
						>
							<option value="" selected disabled>Seleccionar</option>
	              		</select>
	              		<label for="form1"><i class="required">*</i> Pais</label>
		            </div>
					<div class="col-lg-6">		
						<select id="form1" required class="form-control" 
	              		ng-model="form.id_departamento" ng-change="vm.changeDepartament(form.id_departamento)" 
						ng-options="lista.id as lista.nombre for lista in vm.departamentos"
						>
							<option value="" selected disabled>Seleccionar</option>
	              		</select>
	              		<label for="form1"><i class="required">*</i> Departamento</label>
		            </div>
				</div>
				<div class="col-lg-12">
					<div class="col-lg-6">		
						<select id="form1" required class="form-control" 
	              		ng-model="form.id_municipio" 
						ng-options="lista.id as lista.nombre for lista in vm.municipios"
						>
							<option value="" selected disabled>Seleccionar</option>
	              		</select>
	              		<label for="form1"><i class="required">*</i>Municipio</label>
		            </div>
		            <div class="col-lg-6">		
						<select id="form1" required class="form-control" 
	              		ng-model="form.id_tipofamilia" 
						ng-options="lista.id as lista.nombre for lista in vm.tipofamilia"
						>
							<option value="" selected disabled>Seleccionar</option>
	              		</select>
	              		<label for="form1"><i class="required">*</i>Tipo de Familia</label>
		            </div>
				</div>
			</div>
			
		</div>
		<div class="modal-footer">
			<div class="col-lg-12">
				<div class="col-lg-12">

					<button type="button" ng-if="vm.guardardatos" class="btn btn-success btn-raised" data-dismiss="modal" ng-click="vm.actualizar(vm.selectedAcomp)">Guardar</button>		
				</div>
			</div>
		</div>
	</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
